<!DOCTYPE html>
<html>
	<head>
		<title>What I Like</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<script src="scripts/displaylist.js"></script>
	</head>
	<body>
		<header>
			<h1>What I Like - Music</h1>
			<h2>Joseph Sepulveda</h2>
		</header>
		<hr />
		<nav>
			<a href="/addtolist">Add To Your List!</a>
			<div style="float:right">
				<a href="/login">Login</a>
				<a href="/login">Sign Up</a>
			</div>
		</nav>
		<hr />
		<main>
			<ol id="songlist">
				
			</ol>
		</main>
		<aside>
			<div id="why">
				<h3>Why I Chose This</h3>
				<p>I chose music. I listen to music frequently, both actively and passively while programming. It is an interesting thing to go back and try to list out favourites. While doing this I noticed that songs on the same album could have their places swapped without much change</p>
			</div>
		</aside>
	</body>
</html>