<!DOCTYPE html>
<html>
	<head>
		<title>What I Like</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body>
		<header>
			<h1>What I Like - Music</h1>
			<h2>Joseph Sepulveda</h2>
		</header>
		<hr />
		<nav>
			<a href="/addtolist">Add To Your List!</a>
			<div style="float:right">
				<a href="/login">Login</a>
				<a href="/login">Sign Up</a>
			</div>
		</nav>
		<hr />
		<main>
			<ol>
				<li>
					<p><i>Unaligned</i> by Nathan Sharp</p>
				</li>
				<li>
					<p><i>Phantom</i> by Nathan Sharp</p>
				</li>
				<li>
					<p><i>Paid In Exposure</i> by Nathan Sharp</p>
				</li>
				<li>
					<p><i>Branded</i> by Nathan Sharp</p>
				</li>
				<li>
					<p><i>The Entertainer</i> by Billy Joel</p>
				</li>
				<li>
					<p><i>Piano Man</i> by Billy Joel</p>
				</li>
				<li>
					<p><i>Mangled</i> by Nathan Sharp</p>
				</li>
				<li>
					<p><i>Home</i> by Nathan Sharp</p>
				</li>
				<li>
					<p><i>Radioactive</i> by Imagine Dragons</p>
				</li>
				<li>
					<p><i>Salvaged</i> by Nathan Sharp</p>
				</li>
			</ol>
		</main>
		<aside>
			<div id="why">
				<h3>Why I Chose This</h3>
				<p>I chose music. I listen to music frequently, both actively and passively while programming. It is an interesting thing to go back and try to list out favourites. While doing this I noticed that songs on the same album could have their places swapped without much change</p>
			</div>
		</aside>
	</body>
</html>