<!DOCTYPE html>
<html>
	<head>
		<title>What I Like</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body>
		<header>
			<h1>New Thing I Like</h1>
		</header>
		<hr />
		<main>
			<form action="/addtolist" method="POST">
				<label>Song</label>
				<br />
				<input name="song" type="text" required></input>
				<br />
				<label>Author</label>
				<br />
				<input name="author" type="text" required></input>
				<br />
				<br />
				<input type="submit"></input>
			</form>
			<br />
			<br />
			<a href="/list">&lt;- Go Back</a>
		</main>
	</body>
</html>