<!DOCTYPE html>
<html>
	<head>
		<title>What I Like</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body>
		<header>
			<h1>New Thing I Like</h1>
		</header>
		<hr />
		<main>
			<form>
				<label>Song</label>
				<br />
				<input type="text" required="true"></input>
				<br />
				<label>Author</label>
				<br />
				<input type="text" required="true"></input>
				<br />
				<br />
				<input type="submit"></input>
			</form>
			<br />
			<br />
			<a href="/list">&lt;- Go Back</a>
		</main>
	</body>
</html>